# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.gemini/
gha-creds-*.json
GEMINI.md 
.github
# next-video
@/public/assets/*
!@/public/assets/*.json
!@/public/assets/*.js
!@/public/assets/*.ts
public/_next-video

# next-video
public/assets/videos/*
!public/assets/videos/*.json
!public/assets/videos/*.js
!public/assets/videos/*.ts
public/_next-video

# next-video
vidoes/*
!vidoes/*.json
!vidoes/*.js
!vidoes/*.ts
public/_next-video

# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video

# next-video
videos/*
!videos/*.json
!videos/*.js
!videos/*.ts
public/_next-video

# next-video
public/assets/videos/*
!public/assets/videos/*.json
!public/assets/videos/*.js
!public/assets/videos/*.ts
public/_next-video

# next-video
public/assets/videos/*
!public/assets/videos/*.json
!public/assets/videos/*.js
!public/assets/videos/*.ts
public/_next-video
