* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    overflow-x: hidden;
    background-color: #F7F1EB;
}

.navbar {
    position: fixed; /* Fixes navbar at the top */
    top: 0;
    left: 0;
    width: 100%; /* Makes the navbar span the entire width */
    padding: 10px 0;
    z-index: 1000;
    text-align: end;
}
.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin: 0 20px;
}

.navbar ul li a {
    color: #141414;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.section {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    transition: background-color 0.3s ease;
}

.home {
    background-color: #F7F1EB;
    color: #141414;
    /* display: flex;
    flex-direction: row; */
}
.left {
    width: 50vw;
}

#profile_wrap {
    margin-left: 15%;
}

#profile_pic {
    border-radius: 25vh;
    box-shadow: 0 4px 4px 0 #141414;
}

.right {
    width: 50vw;
    text-align: right;
}

.right h1 {
    font-size: 64px;
    /* margin-left: auto; */
}

.right p {

    font-size: 32px;
    margin-left: auto;
    margin-right: 1vw;
}

.about {
    background-color: #B28B84;
    color: #fff;
}



.section .projects{
    background-color: #F7F1EB;
    color: #141414;
    display: flex;
    flex-direction: column;
}
/*
#about_me_text {

} */

.icon {
    width: 2.5vw;
    color: #141414;
    height: auto;
}

.card-holder {
display: flex;
flex-direction: row;
align-items: flex-end;
width: 100vw;
justify-content: space-evenly;
}


.card-sect {
display: flex;
flex-direction: column;
}
.card .scale_img {
    max-width: 15vw;
    max-height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
}

.card .card-header {
   background-color: #F7F1EB
}

.card .card-footer {
display: flex;
/* flex-direction: ; */
align-items: flex-end;
}
.card-you .card-footer {
display: flex;
/* flex-direction: ; */
align-items: flex-end;
}

.card-p {
    padding-left: 2.5vw;
}


.projects .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 16vw;
    max-height: fit-content;
    text-align: center;
    opacity: 0;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

.projects #card-you {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 25vw;
    max-height: fit-content;
    text-align: center;
  }

  #card-you:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }

.contact {
    background-color: #B28B84;
    color: #fff;
}
.contact-wrap {
    font-size: 24px;
}

.contact-text {
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
}

.contact-links{
    display: flex;
    justify-content: space-between;
}


h1, h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}
